.Message-details
  .Message-details__info
    .Message-details__info--who
      = message.user.name
    .Message-details__info--when
      = message.created_at
      .Message-details__content
        = message.content


-# 元々以下でレイアウトしていたが、それだとエラーが起きる。
-# .Message-details
-#   .Message-details__info
-#     .Message-details__info--who
-#       = message.user.name
-#         .Message-details__info--when
-#           = message.created_at
-#       .Message-details__content
-#         = message.content