.Message-details
  .Message-details__info
    .Message-details__info--who
      = message.user.name
    .Message-details__info--when
      = message.created_at
  .Message-details__content
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?



