.Side-bar
  .Side-bar__user-name
    .Top-items
      %h3.Top-items__user-name
        masa
      %ul.Top-items__icons
        %li.icon
          = link_to "#" do
            = icon('fas', 'edit', class: "icon__edit")
        %li.icon
          = link_to "#" do
            = icon('fas', 'cog', class: "icon__setting")

  .Side-bar__group-list
    .Group-heading
      .Group-heading__title
        techcamp
      .Group-heading__latest-message
        まだメッセージがありません
    .Group-heading
      .Group-heading__title
        techcamp
      .Group-heading__latest-message
        まだメッセージがありません
    .Group-heading
      .Group-heading__title
        techcamp
      .Group-heading__latest-message
        まだメッセージがありません
  